/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/* Styles for the body */

body {
	  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
	color: #202030;
	background-color: #f8eaf1;
}

a:hover {
  text-decoration: underline;
  color: #007bff; /* Bootstrap primary color */
}


.card-body-1 {
  background-color: #eef3fc; /* Blue for card 1 */
}

.card-body-2 {
  background-color: #eef3fc; /* Red for card 2 */
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #86abda;
    color: white;
    font-weight: 1000; /* Or use 700 for a stronger effect */
}

.resume-main {
	background-color: #fcfdfe;
}

.resume-aside {
	background-color: #d5e2f2;
}
/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #86abda;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

.language-level {
  border-radius: 25px;
  overflow: hidden;
}

.language-progress {
  border-radius: 25px;
}


/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}